            <!-- START FORM USER -->
            <div class="ng-scope" ng-controller="userCtrl">
                <div class="box-label green"
                    ng-click="$parent.toggleTab('user')">
                    {{users.headertitle}} / {{ $parent.show.user | tabText }}
                </div>
                <div class="wrapper-box green-light" ng-show="$parent.show.user">
                    <form name="userForm" ng-submit="addUser()" novalidate >
                        <p>
                            <input name="firstname"
                                type="text"
                                ng-model="users.user.firstname"
                                ng-maxlength="30"
                                required/>
                            <label>Vorname</label>
                        </p>
                        <p>
                            <input name="secondname"
                                type="text"
                                ng-model='users.user.secondname'
                                ng-maxlength="30"
                                required/>
                            <label>Nachname</label>
                        </p>
                        <p>
                            <input name="nickname"
                                type="text"
                                ng-model='users.user.nickname'
                                ng-maxlength="30"
                                required/>
                            <label>Nickname</label>
                        </p>
                        <p>
                            <input type="submit" value="speichern" />&nbsp;
                            <span class="formmsg" ng-bind="users.formmsg"></span>
                        </p>
                    </form>
                    <div class="gridStyle" ng-grid="gridOptionsUser"></div>
                </div>
            </div>
            <!-- END FORM USER -->
            <!-- START FORM TEAM -->
            <div class="ng-scope" ng-controller="teamCtrl">
                <div class="box-label green"
                    ng-click="$parent.toggleTab('team')">
                    {{ teams.headertitle }} / {{ $parent.show.team | tabText }}
                </div>
                <div class="wrapper-box green-light" ng-show="$parent.show.team">
                    <form name="teamForm" ng-submit="addTeam()" novalidate>
                        <p>
                            <select name="player_1"
                                ng-model='teams.team.player_1'
                                ng-required="true"
                                ng-options="teamuser.nickname for teamuser in teams.userData">
                                <option ng-selected="selected" value="">-- Auswahl Spieler 1 --</option>
                            </select>
                            <label>Spieler 1</label>
                        </p>
                        <p>
                            <select name="player_2"
                                ng-model='teams.team.player_2'
                                ng-required="true"
                                ng-options="teamuser.nickname for teamuser in teams.userData">
                                <option ng-selected="selected" value="">-- Auswahl Spieler 2 --</option>
                            </select>
                            <label>Spieler 2</label>
                        </p>
                        <p>
                            <input name="teamname"
                                type="text"
                                ng-model='teams.team.teamname'
                                ng-required="true"
                                ng-maxlength="30"
                                required/>
                            <label>Teamname</label>
                        </p>
                        <p>
                            <input type="submit" value="speichern" />&nbsp;
                            <span class="formmsg" ng-bind="teams.formmsg"></span>
                        </p>
                    </form>
                    <div class="gridStyle" ng-grid="gridOptionsTeam"></div>
                </div>
            </div>
            <!-- END FORM TEAM -->
            <!-- START FORM GAME -->
            <div class="ng-scope" ng-controller="gameCtrl">
                <div class="box-label blue" ng-bind="games.headertitle"></div>
                <div class="wrapper-box active blue-light">
                    <form name="gameForm" ng-submit="startGame()" novalidate>
                        <p>

                            <select ng-model='games.game.team_1'
                                    ng-required="true"
                                    ng-options="gameteam.teamname for gameteam in games.teamData"
                                    name="team_1"><option ng-selected="selected" value="">-- Auswahl Team 1 --</option></select>
                            <label>Team 1</label>
                        </p>
                        <p>
                            <select ng-model='games.game.team_2'
                                    ng-required="true"
                                    ng-options="gameteam.teamname for gameteam in games.teamData"
                                    name="team_2"><option ng-selected="selected" value="">-- Auswahl Team 2 --</option></select>
                            <label>Team 2</label>
                        </p>
                        <p>
                            <input type="submit" value="Spiel starten" />&nbsp;
                            <span class="formmsg" ng-bind="tpl.formmsg.game"></span>
                        </p>
                        <div class="wrapper-score-display-label">
                            <ul class="score-display-label">
                                <li class="score-display-label-titel">Team 1</li>
                                <li class="score-display-label-value" ng-bind-template=" : {{games.actualGameData.team_1}}"></li>
                                <li class="score-display-label-space"></li>
                                <li class="score-display-label-titel">Tore</li>
                                <li class="score-display-label-value" ng-bind-template=" : {{games.actualGameData.team_1_scores}}"></li>
                                <li class="score-display-label-space"></li>
                            </ul>
                            <score-display index="0" class="goal-display"></score-display>
                        </div>
                        <div class="wrapper-score-display-label">
                            <ul class="score-display-label">
                                <li class="score-display-label-titel">Team 2</li>
                                <li class="score-display-label-value" ng-bind-template=" : {{games.actualGameData.team_2}}"></li>
                                <li class="score-display-label-space"></li>
                                <li class="score-display-label-titel">Tore</li>
                                <li class="score-display-label-value" ng-bind-template=" : {{games.actualGameData.team_2_scores}}"></li>
                                <li class="score-display-label-space"></li>
                            </ul>
                            <score-display index="1" class="goal-display"></score-display>
                        </div>
                    </form>
                </div>
                <div class="gridStyle" ng-grid="gridOptionsGame"></div>
                <div class="box-label blue">Spiel-Tabelle</div>
                <div class="gridStyle" ng-grid="gridOptionsGameScore"></div>
            </div>
            <!-- END FORM GAME -->
