            <!-- START FORM USER -->
            <div class="ng-scope" ng-controller="userCtrl">
                <div class="box-label green"
                    ng-click="$parent.toggleTab('user')">
                    {{users.headertitle}} / {{ $parent.show.user | tabText }}
                </div>
                <div class="wrapper-box green-light" ng-show="$parent.show.user">
                    <form name="userForm" ng-submit="addUser()" novalidate >
                        <p>
                            <input name="firstname"
                                type="text"
                                ng-model="users.user.firstname"
                                ng-maxlength="30"
                                required/>
                            <label>Vorname</label>
                        </p>
                        <p>
                            <input name="secondname"
                                type="text"
                                ng-model='users.user.secondname'
                                ng-maxlength="30"
                                required/>
                            <label>Nachname</label>
                        </p>
                        <p>
                            <input name="nickname"
                                type="text"
                                ng-model='users.user.nickname'
                                ng-maxlength="30"
                                required/>
                            <label>Nickname</label>
                        </p>
                        <p>
                            <input type="submit" value="speichern" />&nbsp;
                            <span class="formmsg" ng-bind="users.formmsg"></span>
                        </p>
                    </form>
                    <table class="repeattbl">
                        <tr>
                            <td class="repeattbl-lbl green" ng-click="predicate = 'firstname'; reverse=!reverse">Vorname</td>
                            <td class="repeattbl-lbl green" ng-click="predicate = 'secondname'; reverse=!reverse">Nachname</td>
                            <td class="repeattbl-lbl green" ng-click="predicate = 'nickname'; reverse=!reverse">Nickname</td>
                            <td class="repeattbl-lbl green">&nbsp;</td>
                        </tr>
                        <tr ng-repeat="user in users.userData | orderBy:predicate:reverse">
                            <td class="repeattbl-item">{{user.firstname}}</td>
                            <td class="repeattbl-item">{{user.secondname}}</td>
                            <td class="repeattbl-item">{{user.nickname}}</td>
                            <td class="repeattbl-item"><input type="button" value="löschen" ng-click="$parent.deleteUser(user.id)"></td>
                        </tr>
                    </table>

                </div>
            </div>
            <!-- END FORM USER -->
            <!-- START FORM TEAM -->
            <div class="ng-scope" ng-controller="teamCtrl">
                <div class="box-label green"
                    ng-click="$parent.toggleTab('team')">
                    {{ teams.headertitle }} / {{ $parent.show.team | tabText }}
                </div>
                <div class="wrapper-box green-light" ng-show="$parent.show.team">
                    <form name="teamForm" ng-submit="addTeam()" novalidate>
                        <p>
                            <select name="player_1"
                                ng-model='teams.team.player_1'
                                ng-required="true"
                                ng-options="teamuser.nickname for teamuser in teams.userData">
                                <option ng-selected="selected" value="">-- Auswahl Spieler 1 --</option>
                            </select>
                            <label>Spieler 1</label>
                        </p>
                        <p>
                            <select name="player_2"
                                ng-model='teams.team.player_2'
                                ng-required="true"
                                ng-options="teamuser.nickname for teamuser in teams.userData">
                                <option ng-selected="selected" value="">-- Auswahl Spieler 2 --</option>
                            </select>
                            <label>Spieler 2</label>
                        </p>
                        <p>
                            <input name="teamname"
                                type="text"
                                ng-model='teams.team.teamname'
                                ng-required="true"
                                ng-maxlength="30"
                                required/>
                            <label>Teamname</label>
                        </p>
                        <p>
                            <input type="submit" value="speichern" />&nbsp;
                            <span class="formmsg" ng-bind="teams.formmsg"></span>
                        </p>
                    </form>
                    <table class="repeattbl">
                        <tr>
                            <td class="repeattbl-lbl green" ng-click="predicate = 'player_1'; reverse=!reverse">Vorname</td>
                            <td class="repeattbl-lbl green" ng-click="predicate = 'player_2'; reverse=!reverse">Nachname</td>
                            <td class="repeattbl-lbl green" ng-click="predicate = 'teamname'; reverse=!reverse">Nickname</td>
                            <td class="repeattbl-lbl green">&nbsp;</td>
                        </tr>
                        <tr ng-repeat="team in teams.teamData | orderBy:predicate:reverse">
                            <td class="repeattbl-item">{{team.player_1}}</td>
                            <td class="repeattbl-item">{{team.player_2}}</td>
                            <td class="repeattbl-item">{{team.teamname}}</td>
                            <td class="repeattbl-item"><input type="button" value="löschen" ng-click="$parent.deleteTeam(team.id)"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END FORM TEAM -->
            <!-- START FORM GAME -->
            <div class="ng-scope" ng-controller="gameCtrl">
                <div class="box-label blue" ng-bind="games.headertitle"></div>
                <div class="wrapper-box active blue-light">
                    <form name="gameForm" ng-submit="startGame()" novalidate>
                        <p>

                            <select ng-model='games.game.team_1'
                                    ng-required="true"
                                    ng-options="gameteam.teamname for gameteam in games.teamData"
                                    name="team_1"><option ng-selected="selected" value="">-- Auswahl Team 1 --</option></select>
                            <label>Team 1</label>
                        </p>
                        <p>
                            <select ng-model='games.game.team_2'
                                    ng-required="true"
                                    ng-options="gameteam.teamname for gameteam in games.teamData"
                                    name="team_2"><option ng-selected="selected" value="">-- Auswahl Team 2 --</option></select>
                            <label>Team 2</label>
                        </p>
                        <p>
                            <input type="submit" value="Spiel starten" />&nbsp;
                            <span class="formmsg" ng-bind="games.formmsg"></span>
                        </p>
                        <div class="wrapper-score-display-label">
                            <ul class="score-display-label">
                                <li class="score-display-label-titel">Team 1</li>
                                <li class="score-display-label-value" ng-bind-template=" : {{games.actualGameData.team_1}}"></li>
                                <li class="score-display-label-space"></li>
                                <li class="score-display-label-titel">Tore</li>
                                <li class="score-display-label-value" ng-bind-template=" : {{games.actualGameData.team_1_scores}}"></li>
                                <li class="score-display-label-space"></li>
                            </ul>
                            <score-display index="0" class="goal-display"></score-display>
                        </div>
                        <div class="wrapper-score-display-label">
                            <ul class="score-display-label">
                                <li class="score-display-label-titel">Team 2</li>
                                <li class="score-display-label-value" ng-bind-template=" : {{games.actualGameData.team_2}}"></li>
                                <li class="score-display-label-space"></li>
                                <li class="score-display-label-titel">Tore</li>
                                <li class="score-display-label-value" ng-bind-template=" : {{games.actualGameData.team_2_scores}}"></li>
                                <li class="score-display-label-space"></li>
                            </ul>
                            <score-display index="1" class="goal-display"></score-display>
                        </div>
                    </form>


                    <table class="repeattbl">
                        <tr>
                            <td class="repeattbl-lbl blue" ng-click="predicate = 'team_1'; reverse=!reverse">Team 1</td>
                            <td class="repeattbl-lbl blue" ng-click="predicate = 'team_2'; reverse=!reverse">Team 2</td>
                            <td class="repeattbl-lbl blue">Ergebnis</td>
                            <td class="repeattbl-lbl blue">&nbsp;</td>
                        </tr>
                        <tr ng-repeat="game in games.gameData | orderBy:predicate:reverse">
                            <td class="repeattbl-item">{{game.team_1}}</td>
                            <td class="repeattbl-item">{{game.team_2}}</td>
                            <td class="repeattbl-item">{{game.result}}</td>
                            <td class="repeattbl-item"><input type="button" value="löschen" ng-click="$parent.deleteGame(game.id)"></td>
                        </tr>
                    </table>
                    <div class="box-label blue">Spiel-Tabelle</div>
                    <table class="repeattbl">
                        <tr>
                            <td class="repeattbl-lbl blue" ng-click="predicate = 'teamname'; reverse=!reverse">Team</td>
                            <td class="repeattbl-lbl blue" ng-click="predicate = 'gamecounts'; reverse=!reverse">Spiele</td>
                            <td class="repeattbl-lbl blue" ng-click="predicate = 'totalpoints'; reverse=!reverse">Punkte</td>
                        </tr>
                        <tr ng-repeat="score in games.scoreData | orderBy:predicate:reverse">
                            <td class="repeattbl-item">{{score.teamname}}</td>
                            <td class="repeattbl-item">{{score.gamecounts}}</td>
                            <td class="repeattbl-item">{{score.totalpoints}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END FORM GAME -->
